div.box{
	background-image: url(https://qtxasset.com/fiercebiotech/1553681843/connor-wells-534089-unsplash.jpg/connor-wells-534089-unsplash.jpg?XObjNuiIeq00Lv1yNJ92KYHkC1mDagZm);
	backface-visibility: 50%;
	width: auto;

}
h1{
	color: white;
}
p{
	color: white;
	padding: 20px 20px;
}
em{
	color: white;
}
div.box1{
	background-color: red;
	width: 320px;
	height: 200px;
	padding-left: 25px;
	margin-left: 25px;
	display: inline-block;
}
div.box2{
	background-color: green;
	width: 400px;
	
}
input{
	display: inline-block;
	height: 100px;

}