body{
	margin: 0;
	font-family: sans-serif;
	line-height: 30px;
	background-image: url(https://wallpaperaccess.com/full/1489187.jpg); ;
}
header{
	background-image: url(https://images.wallpapersden.com/image/download/topography-abstract-black-texture_64113_2880x1800.jpg);
	text-align: center;
	padding-top: 25px;
	padding-bottom: 25px;
	position: sticky;
	top: 0;
}
h1,h2{
	font-family: 'Atma', cursive;
	font-size: 35px;
	color: #2F4F4F;
}
header h1{
	color: #2F4F4F;
	font-size: 50px;
	
	

}
header img{
	border-radius: 160px;
	width: 300px;
	border: 15px solid #2F4F4F;
	float: right
	;
}
main{
    max-width: 800px;
	margin: 20 auto;
	padding: 20px 20px;
}
main p{
	font-size: 20px;
	color: #696969 ;
}
a{
	color: #6C3483;

}
a:hover{
	color: white;
	background-color:#696969 ;

}
main img{
	text-align:center;
	width: 150px;
	float: right;
	border: 8px dashed #696969;
}
footer{
	color: #2F4F4F;
	text-align: center;
	font-size: 25px;
	background-image: url(https://images.wallpapersden.com/image/download/topography-abstract-black-texture_64113_2880x1800.jpg);
	padding: 30px;
}
footer p{
	
	margin: 0;
	text-align: center;
}
footer a{
	color: #696969;
}









