body{
	background-color:white;
}
h1{
	font-size: 30px;
	color: teal;
}
h2{
	font-size: 20px;
	color: black;
}
.big{
	font-size: 60px;
}
.uppercase{
	text-transform: uppercase;
}
.big.uppercase{
	color: navy;
}
h1 span{
	color: violet;
}
.box{
	background-color: red;
	height: 220px;
	width: 220px;
	padding: 20px;
	margin: 20px 100px;
	border: 20px solid black;
	box-sizing: border-box;
}
input[type="text"]{
	font-size: 30px;
	font-color: black;
	display: block;
}